<h1>Welcome to Foodstagram!</h1>
<% if user_signed_in? %>
  <p>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </p>
<% else %>
  <p>
  <%= link_to('Login', new_user_session_path)  %>
  </p>
  <p>
  <%= link_to('Sign Up', new_user_registration_path) %>
  </p>
<% end %>

<% if user_signed_in? %>
    <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
    <% @posts.each do |p| %>
        <h1> <%= p.title %> </h2>
        <p><%= render p.user %></p>
        <%= image_tag p.avatar.url(:large) %>
        <p> <%= p.caption %> </p>
        <h3>Comment</h3>
        <% Comment.where(post_id:p.id).each do |c| %>
            <p> <%= render User.find(c.user_id) %>: <%= c.message %> </p>
        <% end %>
        <%= simple_form_for(@comment, :url => comments_path(@comment, :post_id => p.id)) do |f| %>
            <%= f.text_field :message %>
            <%= f.button :submit, "comment" %>
        <% end %>
    <% end %>
<% end %>
