<h3>Welcome to Foodstagram!</h3>
<% if user_signed_in? %>
    <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
    <% @posts.each do |p| %>
        <h1> <%= p.title %> </h2>
        <p> <%= p.caption %> </p>
        <%= image_tag p.avatar.url(:large) %>
    <% end %>
<% end %>
<% if user_signed_in? %>
  <p>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  </p>
<% else %>
  <p>
  <%= link_to('Login', new_user_session_path)  %>
  </p>
  <p>
  <%= link_to('Sign Up', new_user_registration_path) %>
  </p>
<% end %>
