<h1> <%= link_to 'Foodstagram', root_path %> </h1>
<h2>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<%= button_to "New Post", new_post_path, :class => "btn btn-primary", :method => :get if @user == current_user %>

<h2> <%= "Posts" if Post.where(user_id:@user.id).length > 0 %> </h3>
    <% Post.where(user_id:@user.id).reverse.each do |p| %>
    <div>
        <h3> <%= p.title %> </h3>
        <p>
            <p> <%= p.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%b %d, %Y, %l:%M %p") %> </p>
            <%= image_tag p.avatar.url(:large) %>
        </p>
        <h3><%= p.caption %></h3>
        <h5>Comments</h5>
        <% Comment.where(post_id:p.id).each do |c| %>
            <p> <%= render User.find(c.user_id)%>: <%= c.message %> </p>
            <small> <%= c.created_at.in_time_zone('Pacific Time (US & Canada)').strftime("%b %d, %Y, %l:%M %p") %> </small>
        <% end %>
        <%= simple_form_for(@comment, :url => comments_path(@comment, :post_id => p.id)) do |f| %>
            <%= f.text_field :message %>
            <%= f.button :submit, "comment" %>
        <% end %>
    </div>
<% end %>

