<h1> <%= link_to 'Foodstagram', root_path %> </h1>
<h2>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<%= button_to "New Post", new_post_path, :class => "btn btn-primary", :method => :get if @user == current_user %>

<h2> <%= "Posts" if Post.where(user_id:@user.id).length > 0 %> </h3>
<% Post.where(user_id:@user.id).each do |p| %>
    <div>
        <h3> <%= p.title %> </h3>
        <p>
            <%= image_tag p.avatar.url(:large) %>
        </p>
        <p><%= p.caption %></p>
    </div>
<% end %>
